{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-1 center-align">Add Risk</h3>

    <div class="row class= card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_risk') }}">
            <!-- risk name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tag prefix teal-text text-darken-1"></i>
                    <input id="risk_name" name="risk_name" minlength="5" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="risk_name">Risk Name</label>
                </div>
            </div>
            <!-- category selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix teal-text text-darken-1"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Risk Category</label>
				</div>
			</div>
            <!-- risk description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix teal-text text-darken-1"></i>
                    <textarea id="risk_description" name="risk_description" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required></textarea>
                    <label for="risk_description">Risk Description</label>
                </div>
            </div>
            <!-- risk rating selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-ruler-vertical prefix teal-text text-darken-1"></i>
					<select id="rating_name" name="rating_name" class="validate" required>
                        <option value="" disabled selected>Choose Rating</option>
                        {% for rating in ratings %}
                            <option value="{{ rating.rating_name }}">{{ rating.rating_name }}</option>
                        {% endfor %}
                    </select>
					<label for="rating_name">Risk Rating</label>
				</div>
			</div>
            <!-- review date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix teal-text text-darken-1"></i>
                    <input id="review_date" name="review_date" type="text" class="datepicker validate" required>
                    <label for="review_date">Review Date</label>
                </div>
            </div>
            <!-- is urgent -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix teal-text text-darken-1"></i>
						<label for="is_urgent">
                            <input type="checkbox" id="is_urgent" name="is_urgent">
                            <span class="lever"></span>
                            Is Urgent
                        </label>
					</div>
				</div>
			</div>
            <!-- Risk Consequence -->
            <div class="row">
                <div class="range-field">
                    <label for="risk_consequence">
                        <input type="range" id="risk_consequence" name="risk_consequence" min="1" max="10">
                        Risk Consequence
                    </label>
                </div>
            </div>
            <!-- Risk Liklihood -->
            <div class="row">
                <div class="range-field">
                    <label for="risk_liklihood">
                        <input type="range" id="risk_liklihood" name="risk_liklihood" min="1" max="10">
                        Risk Liklihood
                    </label>
                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect waves light btn-small">
                        Add <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}