{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-1 center-align">Edit Risk</h3>

    <div class="row class= card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_risk', risk_id=risk._id) }}">
            <!-- risk name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tag prefix teal-text text-darken-1"></i>
                    <input id="risk_name" name="risk_name" minlength="5" maxlength="50" 
                        value="{{ risk.risk_name }}" type="text" class="validate" required>
                    <label for="risk_name">Risk Name</label>
                </div>
            </div>
            <!-- category selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix teal-text text-darken-1"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled>Choose Category</option>
                            {% for category in categories %}
                                {% if category.category_name == risk.category_name %}
                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					<label for="category_name">Risk Category</label>
				</div>
			</div>
            <!-- risk description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix teal-text text-darken-1"></i>
                    <textarea id="risk_description" name="risk_description" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required>
                        {{- risk.risk_description -}}
                    </textarea>
                    <label for="risk_description">Risk Description</label>
                </div>
            </div>
            <!-- risk rating -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-ruler-vertical prefix teal-text text-darken-1"></i>
                        <select id="rating_name" name="rating_name" class="validate" required>
                            <option value="" disabled>Choose Rating</option>
                            {% for rating in ratings %}
                                {% if rating.rating_name == risk.rating_name %}
                                    <option value="{{ rating.rating_name }}" selected>{{ rating.rating_name }}</option>
                                {% else %}
                                    <option value="{{ rating.rating_name }}">{{ rating.rating_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					<label for="rating_name">Risk Rating</label>
				</div>
			</div>
            <!-- review date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix teal-text text-darken-1"></i>
                    <input id="review_date" name="review_date" type="text" 
                        value="{{ risk.review_date }}" class="datepicker validate" required>
                    <label for="review_date">Review Date</label>
                </div>
            </div>
            <!-- is urgent -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix teal-text text-darken-1"></i>
						<label for="is_urgent">
                            {% if risk.is_urgent == "on" %}
                                <input type="checkbox" id="is_urgent" name="is_urgent" checked>
                            {% else %}
                                <input type="checkbox" id="is_urgent" name="is_urgent">
                            {% endif %}
                            <span class="lever"></span>
                            Is Urgent
                        </label>
					</div>
				</div>
			</div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-small">
                        Edit <i class="fas fa-edit right"></i>
                    </button>
                    <!-- cancel button -->
                    <a href="{{ url_for('get_risks') }}" class="waves-effect waves-light btn-small">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}