{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-1 center-align">Edit Risk</h3>

    <div class="row class= card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_risk', risk_id=risk._id) }}">
            
            <!-- risk name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tag prefix teal-text text-darken-1"></i>
                    <input id="risk_name" name="risk_name" minlength="5" maxlength="50" 
                        value="{{ risk.risk_name }}" type="text" class="validate" required>
                    <label for="risk_name">Risk Name</label>
                </div>
            </div>

            <!-- Risk Owner Selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix teal-text text-darken-1"></i>
                        <select id="owner_name" name="owner_name" class="validate" required>
                            <option value="" disabled>Choose Owner</option>
                            {% for owner in owners %}
                                {% if owner.owner_name == risk.owner_name %}
                                    <option value="{{ owner.owner_name }}" selected>{{ owner.owner_name }}</option>
                                {% else %}
                                    <option value="{{ owner.owner_name }}">{{ owner.owner_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					<label for="owner_name">Risk Owner</label>
				</div>
			</div>

            <!-- Risk Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix teal-text text-darken-1"></i>
                    <textarea id="risk_description" name="risk_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- risk.risk_description -}}
                    </textarea>
                    <label for="risk_description">Risk Description</label>
                </div>
            </div>

            <!-- Mitigating Action -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-wrench prefix teal-text text-darken-1"></i>
                    <textarea id="mitigating_action" name="mitigating_action" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- risk.mitigating_action -}}
                    </textarea>
                    <label for="mitigating_action">Mitigating Action</label>
                </div>
            </div>

            <!-- Contingent Action -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tools prefix teal-text text-darken-1"></i>
                    <textarea id="contingent_action" name="contingent_action" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- risk.contingent_action -}}
                    </textarea>
                    <label for="contingent_action">Contingent Action</label>
                </div>
            </div>

            <!-- Progress on Actions -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-poll prefix teal-text text-darken-1"></i>
                    <textarea id="progress_on_actions" name="progress_on_actions" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- risk.progress_on_actions -}}
                    </textarea>
                    <label for="progress_on_actions">Progress on Actions</label>
                </div>
            </div>

            <!-- Risk Likelihood -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-chevron-right prefix teal-text text-darken-1"></i>
                        <select id="likelihood_name" name="likelihood_name" class="validate" required>
                            <option value="" disabled>Choose Likelihood</option>
                            {% for likelihood in likelihoods %}
                                {% if likelihood.likelihood_name == risk.likelihood_name %}
                                    <option value="{{ likelihood.likelihood_name }}" selected>{{ likelihood.likelihood_name }}</option>
                                {% else %}
                                    <option value="{{ likelihood.likelihood_name }}">{{ likelihood.likelihood_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					<label for="likelihood_name">Risk Likelihood</label>
				</div>
			</div>

            <!-- Risk Impact -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-chevron-right prefix teal-text text-darken-1"></i>
                        <select id="impact_name" name="impact_name" class="validate" required>
                            <option value="" disabled>Choose Impact</option>
                            {% for impact in impacts %}
                                {% if impact.impact_name == risk.impact_name %}
                                    <option value="{{ impact.impact_name }}" selected>{{ impact.impact_name }}</option>
                                {% else %}
                                    <option value="{{ impact.impact_name }}">{{ impact.impact_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					<label for="impact_name">Risk Impact</label>
				</div>
			</div>

            <!-- Risk Rating -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-chevron-right prefix teal-text text-darken-1"></i>
                        <select id="rating_name" name="rating_name" class="validate" required>
                            <option value="" disabled>Choose Rating</option>
                            {% for rating in ratings %}
                                {% if rating.rating_name == risk.rating_name %}
                                    <option value="{{ rating.rating_name }}" selected>{{ rating.rating_name }}</option>
                                {% else %}
                                    <option value="{{ rating.rating_name }}">{{ rating.rating_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					<label for="rating_name">Risk Rating</label>
				</div>
			</div>

            <!-- Date Raised Picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix teal-text text-darken-1"></i>
                    <input id="date_raised" name="date_raised" type="text" 
                        value="{{ risk.date_raised }}" class="datepicker validate" required>
                    <label for="date_raised">Date Raised</label>
                </div>
            </div>

            <!-- Risk Status -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <p style="color:teal">Risk Status</p>
						<label for="is_open">
                            Closed
                            {% if risk.is_open == "on" %}
                                <input type="checkbox" id="is_open" name="is_open" checked>
                            {% else %}
                                <input type="checkbox" id="is_open" name="is_open">
                            {% endif %}
                            <span class="lever"></span>
                            Open
                        </label>
					</div>
				</div>
			</div>

            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-small">
                        Edit <i class="fas fa-edit right"></i>
                    </button>
                    <!-- cancel button -->
                    <a href="{{ url_for('get_risks') }}" class="waves-effect waves-light btn-small">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}