{% extends "base.html" %}
{% block content %}

    <!-- User Profile Information Card -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align teal-text text-darken 1"><i class="fas fa-user prefix teal-text text-darken-1"></i> Profile</h3>
                <h6>Username: <strong>{{ username }}</strong></h6>
                    <p>You can now view your <a href="{{ url_for('get_risks') }}" class="teal-text text-darken-1">Risk Register</a>.</p>
                    <p>All users can add a new Risk</p>
                    <p>You can only edit or delete a Risk that YOU created, or if you are an Admin.</p>
                    <p>You can only manage 'Risk Owners' if you are an Admin.</p>
            </div>
        </div>
    </div>

{% endblock %}