{% extends "base.html" %}
{% block content %}

    <h3 class="blue-grey-text text-darken-1 center-align">Risk Register</h3>

    <!-- search box -->
    <div class="row card-panel blue-grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix teal-text text-darken-1"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search</label>
                </div>
                <div class="col s12 m4">
                    <button type="submit" class="teal darken-1 btn text-shadow">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- collapsible risk register -->
    {% if risks|length > 0 %}
    <ul class="collapsible">
        {% for risk in risks %}
        <li>
            <div class="collapsible-header white-text teal darken-1 text-shadow">
                <div class="col s12">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ risk.risk_name }}</strong>
                    {% if risk.is_open == "on" %}
                    <i class="fas fa-exclamation-circle white-text text-darken-1 tooltipped"
                        data-position="right" data-tooltip="Risk Status = Open"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col m4 s12">
                        <h6 style="color:teal;"><i class="fas fa-calendar-alt prefix teal-text text-darken-1"></i> Date Raised:</h6>
                        <p>{{ risk.date_raised}}</p>
                        <h6 style="color:teal;"><i class="fas fa-user prefix teal-text text-darken-1"></i> Risk Owner:</h6>
                        <p>{{ risk.owner_name}}</p>
                        <h6 style="color:teal;"><i class="fas fa-chevron-right prefix teal-text text-darken-1"></i> Likelihood:</h6>
                            {% if risk.likelihood_name == "Low" %}
                                <p style="color:green;"><strong>{{ risk.likelihood_name}}</strong></p>
                            {% elif risk.likelihood_name == "Medium" %}
                                <p style="color:orange;"><strong>{{ risk.likelihood_name}}</strong></p>
                            {% elif risk.likelihood_name == "High" %}
                                <p style="color:red;"><strong>{{ risk.likelihood_name}}</strong></p>
                            {% endif %}
                        <h6 style="color:teal;"><i class="fas fa-chevron-right prefix teal-text text-darken-1"></i> Impact:</h6>
                            {% if risk.impact_name == "Low" %}
                                <p style="color:green;"><strong>{{ risk.impact_name}}</strong></p>
                            {% elif risk.impact_name == "Medium" %}
                                <p style="color:orange;"><strong>{{ risk.impact_name}}</strong></p>
                            {% elif risk.impact_name == "High" %}
                                <p style="color:red;"><strong>{{ risk.impact_name}}</strong></p>
                            {% endif %}
                        <h6 style="color:teal;"><i class="fas fa-chevron-right prefix teal-text text-darken-1"></i> Overall Rating:</h6>
                            {% if risk.rating_name == "Low" %}
                                <p style="color:green;"><strong>{{ risk.rating_name}}</strong></p>
                            {% elif risk.rating_name == "Medium" %}
                                <p style="color:orange;"><strong>{{ risk.rating_name}}</strong></p>
                            {% elif risk.rating_name == "High" %}
                                <p style="color:red;"><strong>{{ risk.rating_name}}</strong></p>
                            {% endif %}
                        <h6 style="color:teal;"><i class="fas fa-location-arrow prefix teal-text text-darken-1"></i> Risk Status:</h6>
                        {% if risk.is_open == "on" %}
                            <p>Open</p>
                        {% else %}
                            <p>Closed</p>
                        {% endif %}
                    </div>
                    <div class="col m8 s12">
                        <h6 style="color:teal;"><i class="fas fa-align-left prefix teal-text text-darken-1"></i> Description:</h6>
                        <p>{{ risk.risk_description}}</p>
                        <h6 style="color:teal;"><i class="fas fa-wrench prefix teal-text text-darken-1"></i> Mitigating Action:</h6>
                        <p>{{ risk.mitigating_action}}</p>
                        <h6 style="color:teal;"><i class="fas fa-tools prefix teal-text text-darken-1"></i> Contingent Action:</h6>
                        <p>{{ risk.contingent_action}}</p>
                        <h6 style="color:teal;"><i class="fas fa-poll prefix teal-text text-darken-1"></i> Progress on Actions:</h6>
                        <p>{{ risk.progress_on_actions}}</p>
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col m4 s12">
                        <p><em>Added by: {{ risk.created_by }}</em></p>
                    </div>
                    <div class="col m8 s12">
                        {% if session.user|lower == risk.created_by|lower %}
                            <a href="{{ url_for('edit_risk', risk_id=risk._id )}}" class="waves-effect waves-light btn-small">Edit <i class="fas fa-edit prefix"></i></a>
                            <a href="{{ url_for('delete_risk', risk_id=risk._id) }}" class="waves-effect waves-light btn-small">Delete <i class="fas fa-trash prefix"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}